<h2>Games</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Word</th>
      <th>Result</th>
      <th>Wrong guesses</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %>
        <td><%= get_user_name(game.user) %></td>
        <td><%= game.word unless game.user_won == nil %></td>
        <td><%= get_result(game) %></td>
        <td><%= (Game.MAX_NUM_WRONG_GUESSES - game.num_wrong_guesses_remaining) %></td>
        <td>
          <% if (game.user_won != nil) || (current_user && game.user == current_user) %>
            <%= link_to 'Show', game %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= get_play_game_section %>