<h2>Games</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Word</th>
      <th>User won</th>
      <th>Number of wrong guesses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= get_user_name(game.user) %></td>
        <td><%= game.word unless game.user_won == nil %></td>
        <td><%= game.user_won %></td>
        <td><%= (Game.MAX_NUM_WRONG_GUESSES - game.num_wrong_guesses_remaining) %></td>
        <% if (game.user_won != nil) || (current_user && game.user == current_user) %>
        <td><%= link_to 'Show', game %></td> 
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
