<div class="game-caption">
  Word:
</div>
<div class="container-fluid game-caption">
  <%= get_word_chars_display %>
</div>

<div class="container-fluid game-caption">
  Number of guesses remaining: <%= @game.num_wrong_guesses_remaining %>
</div>

<div class="container-fluid game-caption">
  <%= get_hangman_image(@game.num_wrong_guesses_remaining) %>
</div>

<%= get_keyboard %>

<div class="container-fluid link-row">
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>