 <% if @game.user_won == nil && @game.user != nil && (current_user == nil || @game.user != current_user)  %>
  <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      You are not allowed to finish other users' games!
  </div>
 <% else %>

  <%= hidden_field_tag :rails_games_path, @games_path %>

   <div>Game <%= @game.id %> <span style="float:right"># guesses remaining: <%= @game.num_wrong_guesses_remaining %></span></div>

  <%= get_word_chars_display %>

  <div class="page-content">
    <% if @game.user_won == nil %>
      <%= get_keyboard %>
    <% else %>
      <%= get_game_over_banner %>
    <% end %>
  </div>

  <div class="container page-content">
    <%= get_hangman_image(@game.num_wrong_guesses_remaining) %>
  </div>

  <div class="link-row">
    <% if @game.user_won != nil %>
      <%= get_play_game_link(false) %> |
    <% end %>
    <%= link_to 'Back', games_path %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $(document).on('keydown', function(){
      var evtobj=window.event? event : e
      var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
      var actualkey=String.fromCharCode(unicode)

      var path = $('#rails_games_path').val();

      $.ajax( {
        type: "PATCH",
        url: path,
        dataType: 'script',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {guess: actualkey}
      })
    });
  });

</script>

