 <% if @game.user_won == nil && @game.user != nil && (current_user == nil || @game.user != current_user)  %>
  <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      You are not allowed to finish other users' games!
  </div>
 <% else %>

  <div class="container page-content">
    Word:
  </div>

  <%= get_word_chars_display %>

  <div class="container game-caption">
    Number of guesses remaining: <%= @game.num_wrong_guesses_remaining %>
  </div>

  <div class="container game-caption">
    <%= get_hangman_image(@game.num_wrong_guesses_remaining) %>
  </div>

  <% if @game.user_won == nil %>
    <%= get_keyboard %>
  <% else %>
    <%= get_game_over_banner %>
  <% end %>

  <div class="container link-row">
    <% if @game.user_won != nil %>
      <%= link_to 'New Game', new_game_path %> |
    <% end %>
    <%= link_to 'Back', games_path %>
  </div>
<% end %>

<script type="text/javascript">

// $(document).onkeydown(function(e){
//   var evtobj=window.event? event : e
//   var unicode=evtobj.charCode? evtobj.charCode : evtobj.keyCode
//   var actualkey=String.fromCharCode(unicode)
//  });
</script>

