<p>
  <strong>User:</strong>
  <%= get_user_name(@game.user) %>
</p>

<p>
  <strong>Word:</strong>
  <%= @game.word %>
</p>

<p>
  <%= get_hangman_image(@game.num_wrong_guesses_remaining) %>
</p>


<p>
  <strong>Number of guesses remaining:</strong>
  <%= @game.num_wrong_guesses_remaining %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
